<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    :root {
      --borderColor: #f40
    }
  </style>
  <script>
    // 执行 changceColor('blue') 即可变色
    // function changeColor(color = 'blue') {
    //   document.documentElement.style.setProperty("--borderColor", color);
    // }
    // setTimeout(() => {
    //   changeColor();
    // }, 2000);
  </script>
</head>

<body>
  <div id="root"></div>
</body>

</html>